<thead>
<tr>
    <th>ID</th>
    <th>名称</th>
    <th>发布时间</th>
    {{#if showActions}}
    <th class="action-col-4"></th>
    {{/if}}
</tr>
</thead>
<tbody>
{{#each papers}}
<tr data-index="{{@index}}" data-id="{{id}}">
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{date updatedOn}}</td>
    {{#if ../showActions}}
    <td>
        <a href="#" class="print-item"><i class="glyphicon glyphicon-print"></i></a>
        {{#if ../../showDelete}}
        <a href="#" class="delete-item"><i class="glyphicon glyphicon-remove"></i></a>
        {{/if}}
        {{#if ../../showDetails}}
        <a href="#" class="view-item"><i class="glyphicon glyphicon-file"></i></a>
        {{/if}}
        {{#if ../../showPrint}}

        {{/if}}
    </td>
    {{/if}}
</tr>
{{/each}}
</tbody>
