//== Colors
@brand-base:            #2184da;
@brand-primary:         darken(@brand-base, 3%);
//@brand-primary:         darken(#428bca, 6.5%);
@brand-primary-dark:   darken(@brand-base, 15%);
@brand-primary-light:   lighten(@brand-primary, 15%);

@brand-success:         lighten(#5cb85c, 8%);
//text color

//borders
@border-color-base: #ececec;
@border-color-content-pane: @border-color-base;
@border-color-table: #ddd;
@border-color-nav-tabs: @border-color-table;
@border-color-west-pane: #ddd;
@border-content: #ececec;
@border-form-control: #dcdcdc;
@border-width-base: 1px;
@border-style-base: solid;

//margins
@margin-base: 15px;

@action-col-base-with: 40px;

//font
@font-size-nav: 16px;
@font-size-aux: @font-size-nav;
