<thead>
<tr>
    <th>ID</th>
    <th>编号</th>
    <th>标题</th>
    <th>大纲</th>
    <th>创建时间</th>
    <th>修改时间</th>
    <th class="action-col-2"></th>
</tr>
</thead>
<tbody id="chapter-list-table-body">
{{#each aaData}}
    <tr class="item-row" data-index="{{@index}}">
        <td>
        {{#if syllabus.disabled}}
        <span class="label label-danger" title="所属大纲已废弃">{{id}}</span>
        {{else}}
        <span>{{id}}</span>
        {{/if}}
        </td>

        <td>{{number}}</td>
        <td>{{title}}</td>
        <td><span>{{syllabus.level}} ({{syllabus.version}})</span></td>
        <td>{{date createdOn}}</td>
        <td>{{date updatedOn}}</td>
        <td>
            <a href="#" class="edit-item"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="#" class="remove-item"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
{{/each}}
</tbody>
